In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
ds=pd.read_csv("product_data.csv")
ds

,CustomerID,Product,Price,Quantity,City,PurchaseDate
0,1052,Desktop,NaN,4.0,Bangalore,2021-06-30
1,1041,Desktop,NaN,3.0,Delhi,2023-01-21
2,1057,Smartphone,forty-five thousand,2.0,Bangalore,2023-04-06
3,1038,Tablet,45000.0,1.0,Chennai,2023-07-05
4,1013,Smartphone,45000.0,NaN,Mumbai,2022-04-11
...,...,...,...,...,...,...
120,1074,Laptop,45000.0,NaN,Bangalore,2021-08-14
121,1017,Desktop,45000.0,NaN,Pune,2022-08-09
122,1075,Desktop,30000.0,1.0,Pune,2021-09-28
123,1008,Laptop,60000.0,1.0,Chennai,2021-09-13
124,1073,Laptop,15000.0,NaN,Delhi,2021-01-01

In [3]:
#checkinng the details of data
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    125 non-null    int64
 1   Product       125 non-null    object
 2   Price         103 non-null    object
 3   Quantity      98 non-null     object
 4   City          125 non-null    object
 5   PurchaseDate  125 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.0+ KB

In [8]:
#checking for duplicates
ds.duplicated().sum()

5

In [11]:
#removing duplicate values
ds.drop_duplicates(inplace=True)

In [12]:
ds.duplicated().sum()

0

In [14]:
#the price should be in numeric format & there are some missing values
ds["Price"]=pd.to_numeric(ds["Price"],errors="coerce")

In [15]:
#checking if the column is transformed or not
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       120 non-null    object
 2   Price         97 non-null     float64
 3   Quantity      96 non-null     object
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.6+ KB

In [20]:
#filling the empty cells of price column
y=ds["Price"].median()
y
ds["Price"].fillna(y,inplace=True)

C:\Users\swaro\AppData\Local\Temp\ipykernel_1084\1752608720.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Price"].fillna(y,inplace=True)

In [21]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       120 non-null    object
 2   Price         120 non-null    float64
 3   Quantity      96 non-null     object
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.6+ KB

In [24]:
#the quantity column is in object format where it should be in the numeric format
ds["Quantity"]=pd.to_numeric(ds["Quantity"],errors="coerce")

In [25]:
#checking if the column is transformed or not
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       120 non-null    object
 2   Price         120 non-null    float64
 3   Quantity      95 non-null     float64
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 6.6+ KB

In [27]:
#there are missing values in in Quantity column
#filling the missing values
z=ds["Quantity"].median()
z

3.0

In [28]:
ds["Quantity"].fillna(z , inplace=True)

C:\Users\swaro\AppData\Local\Temp\ipykernel_1084\2209665285.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Quantity"].fillna(z , inplace=True)

In [29]:
#checking if the cells are filled or not
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       120 non-null    object
 2   Price         120 non-null    float64
 3   Quantity      120 non-null    float64
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 6.6+ KB

In [30]:
#purchasedate column is not in date format
#converting it in the date format
ds["PurchaseDate"]=pd.to_datetime(ds["PurchaseDate"])

In [31]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       120 non-null    object
 2   Price         120 non-null    float64
 3   Quantity      120 non-null    float64
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 6.6+ KB

In [32]:
ds

     CustomerID     Product    Price  Quantity       City PurchaseDate
0          1052     Desktop  30000.0       4.0  Bangalore   2021-06-30
1          1041     Desktop  30000.0       3.0      Delhi   2023-01-21
2          1057  Smartphone  30000.0       2.0  Bangalore   2023-04-06
3          1038      Tablet  45000.0       1.0    Chennai   2023-07-05
4          1013  Smartphone  45000.0       3.0     Mumbai   2022-04-11
..          ...         ...      ...       ...        ...          ...
115        1059     Desktop  30000.0       3.0  Bangalore   2023-07-05
116        1049  Smartphone  30000.0       2.0  Bangalore   2022-11-07
117        1027  Smartphone  60000.0       4.0    Chennai   2023-08-04
118        1091  Smartphone  30000.0       3.0     Mumbai   2021-01-16
119        1040  Smartphone  15000.0       1.0     Mumbai   2023-03-07

[120 rows x 6 columns]

In [34]:
ds.to_csv("product_dataset_cleaned.csv")